body,
.header,
.links,
.opener,
.cards {
    display: flex;
}

body {
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    flex-direction: column;
}

.links {
    justify-content: space-between;
    align-items: center;
}

.links,
.opener {
    margin: 0px 150px 0px 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header,
.footer {
    background-color: #1F2937;
}

.main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

p.main {
    margin: 0px;
}

.opener {
    justify-content: space-between;
    align-items: center;
}

.left-opener,
.right-opener {
    flex: 1;
}

.opener,
a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

li {
    margin: 8px;
    float: left;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.right-opener > img {
    width: 450px;
    height: auto;
}

.previews {
    text-align: center;
}

.cards {
    justify-content: center;
}

.card {
    width: 150px;
    margin: 20px;
}

.card > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #3882F6;
    border-radius: 5px;
}




